# Miscellaneous
*.class
*.log
*.lock
*.pot
*.pyc
*.swo
*.swp
*~
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
/build/
/ios/Pods/
/ios/Flutter/ephemeral/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Flutter/flutter_assets/
/android/.gradle/
/android/app/build/
/android/build/
/android/local.properties
/android/app/google-services.json