# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
/android/gradle*
/android/local.properties
/android/.gradle
/android/app/build
/android/app/src/main/assets/flutter_assets/

# iOS
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/flutter_assets/
/ios/Flutter/.last_build_id
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace/contents.xcworkspacedata
/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Intellij
.idea/
*.iml

# VSCode
.vscode/

# Mac
.DS_Store

# Build
/build/

# Assets
/assets/icon/icon.png
